* {
  margin: 0%;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  color: #fff;
}
.home-btn button {
  display: inline-block;
  padding: 13px 35px;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  position: relative;
  background-color: black;
  cursor: pointer;
  transition: 1.3s;
  border: none;
}
.home-btn button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  padding: 2px;
  background: linear-gradient(90deg, #ff0080, #0078ff);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.home-btn button:hover {
  background: linear-gradient(90deg, #ff0080, #0078ff);
  color: rgba(255, 255, 255, 1);
}
.home-btn button:hover:before {
  background: linear-gradient(90deg, black, black);
}

.burger-menu {
  display: none;
}
.burger-menu ion-icon {
  font-size: clamp(1.375rem, 1.115rem + 1.19vw, 1.688rem);
}
h1 {
  font-size: clamp(1.313rem, 0.994rem + 1.59vw, 2.188rem);
  font-family: Orbitron;
}

h1 span {
  font-size: clamp(1.313rem, 0.994rem + 1.59vw, 2.188rem);
  font-family: Orbitron;
}

p {
  font-family: Poppins;
  font-weight: 300;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
}

ul li {
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(15, 8, 21);
}

.container {
  max-width: 1920px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 40px;
}

#header {
  padding-block: 25px;
  top: 0;
  position: sticky;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-size: clamp(1.25rem, 1.068rem + 0.91vw, 1.75rem);
}

.header nav {
  display: flex;
  align-items: center;
  gap: 60px;
  font-family: Poppins;
  font-size: 16px;
}

.header nav a:hover {
  transform: scale(1.1);
  transition: 0.2s;
  color: #7d7d7d;
}

#home {
  padding-block: 50px;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home img {
  max-width: 530px;
  width: auto;
}

.home-text {
  max-width: 505px;
  width: 100%;
  /* min-width: 465px; */
}

.home-text h1 {
  font-size: clamp(1.563rem, 1.108rem + 2.27vw, 2.813rem);
  padding-block: 10px;
}

.home-text h1 span {
  font-size: clamp(1.688rem, 1.165rem + 2.61vw, 3.125rem);
  font-family: Orbitron, sans-serif;
  background: linear-gradient(
    158.4deg,
    rgb(209, 14, 209) 10.9%,
    rgb(16, 163, 218) 88.221%
  );
  color: transparent;
  background-clip: text;
}

.home-text p {
  line-height: 25px;
  padding-block: 10px;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
}

.home-btn {
  padding-block: 25px;
  display: flex;
  align-items: center;
  max-width: 400px;
  width: 100%;
  gap: 20px;
}

.home-btn button {
  background: none;
  color: #fff;
  padding: 15px 30px;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  border-radius: 5px;
  border: 1px solid #fff;
}

/* .home-btn button:hover {
  transform: scale(1.1);
  transition: 0.2s;
  cursor: pointer;
  background: #590d59;
} */

.home-block {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-block: 10px;
}

.home-box h3 {
  font-size: 22px;
  font-family: Orbitron;
}

.home-box h3 span {
  font-size: 17px;
  font-family: Poppins;
  font-weight: 400;
}

#about {
  padding-block: 70px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-text {
  max-width: 400px;
  width: 100%;
  max-height: 400px;
  height: 100%;
}

.about-text h1 {
  font-size: clamp(1.438rem, 1.165rem + 1.36vw, 2.188rem);
}

.about-text h1 span {
  font-size: clamp(1.438rem, 1.165rem + 1.36vw, 2.188rem);
  font-family: Orbitron, sans-serif;
  background: linear-gradient(
    158.4deg,
    rgb(209, 14, 209) 10.9%,
    rgb(16, 163, 218) 88.221%
  );
  color: transparent;
  background-clip: text;
}

.about-text p {
  font-size: clamp(0.813rem, 0.744rem + 0.34vw, 1rem);
  padding-block: 10px;
}

.about-text button {
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  background: none;
  margin-block: 20px;
}

/* .about-text button:hover {
  transform: scale(1.1);
  transition: 0.2s;
  cursor: pointer;
  background: #590d59;
} */

.about img {
  max-width: 500px;
  width: auto;
}

#work {
  padding-block: 70px;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-main {
  text-align: center;
  max-width: 650px;
  padding-bottom: 40px;
}

.work-main h1 {
  font-size: clamp(1.125rem, 0.511rem + 3.07vw, 2.813rem);
}

.work-main h1 span {
  font-size: clamp(1.25rem, 0.909rem + 1.7vw, 2.188rem);
  font-family: Orbitron, sans-serif;
  background: linear-gradient(
    158.4deg,
    rgb(209, 14, 209) 10.9%,
    rgb(16, 163, 218) 88.221%
  );
  color: transparent;
  background-clip: text;
}

.work-main p {
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  padding-block: 10px;
}

.work-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
}

.work-box {
  max-width: 374px;
  width: 100%;
  max-height: 420px;
  height: 100%;
  padding: 20px;
  background: #090823;
  margin-bottom: 15px;
  border-top-right-radius: 7%;
  border-bottom-left-radius: 7%;
}

.work-box img {
  max-width: 335px;
  width: 100%;
}

.work-box:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.work-box h3 {
  font-size: 19px;
  font-family: Orbitron;
  padding: 15px 0 5px 0;
}

.p-first p span {
  font-size: 14px;
}

.work-box p {
  font-size: 16px;
  padding-block: 5px;
}

.work-btn {
  display: flex;
  gap: 10px;
}

/* .home-btn button {
  padding: 5px;
  background: none;
  font-size: 14px;
  max-width: 150px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  margin-block: 10px;
} */

/* .work-btn button:hover {
  transform: scale(1.1);
  transition: 0.2s;
  cursor: pointer;
  background: #590d59;
} */

#latest {
  padding-block: 0;
}

.latest-main {
  text-align: center;
  max-width: 650px;
  padding-bottom: 40px;
}

.latest-main h1 {
  font-size: clamp(1.563rem, 1.354rem + 1.04vw, 2.188rem);
}

.latest-main h1 span {
  font-size: clamp(1.125rem, 0.511rem + 3.07vw, 2.813rem);

  color: #851185;
}

.latest-main p {
  font-size: 16px;
  padding-block: 10px;
}

.latest-block {
  display: flex;
  align-items: center;
  gap: 70px;
  overflow-x: auto;
}

.latest-box {
  position: relative;
}

.latest-box h1 {
  position: absolute;
  margin-top: -80px;
  font-size: 35px;
  margin-left: 50px;
}

.latest-box img:first-child {
  animation: img11 20s infinite ease-in-out;
}

.latest-box img {
  max-width: 1182px;
  width: 100%;
  max-height: 860px;
  height: 100%;
}

.play {
  backdrop-filter: blur(5px);
  border: 2px solid white;
  font-size: 50px;
  background: #f3f3f30f;
  color: #fff;
  position: absolute;
  margin-inline: auto;
  top: 40%;
  right: 45%;
  border-radius: 50%;
  padding: 30px;
}

#theme {
  padding: 0 0 0 0;
}

.theme h1 span {
  font-family: Orbitron, sans-serif;
  background: linear-gradient(
    158.4deg,
    rgb(209, 14, 209) 10.9%,
    rgb(16, 163, 218) 88.221%
  );
  color: transparent;
  background-clip: text;
}

.theme {
  display: flex;
  justify-content: center;
}

#footer {
  padding-block: 60px;
  background: #090823;
}

.footer-text {
  display: flex;
  align-items: start;
  gap: 50px;
  flex-wrap: wrap;
  padding-block: 40px;
}

.footer-block ul li {
  font-family: Poppins;
  line-height: 40px;
}

.icon {
  color: #fff;
  font-size: 25px;
}

.footer-block ul li:first-child {
  font-size: 18px;
  font-family: Orbitron;
  font-weight: 600;
}

.footer-block {
  width: 150px;
}

.footer {
  display: flex;
  align-items: start;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.footer-box {
  display: flex;
  gap: 15px;
  padding-block: 15px;
}

.footer-main {
  max-width: 350px;
}

.footer-main h1 {
  font-size: clamp(1.438rem, 1.165rem + 1.36vw, 2.188rem);
  font-family: Orbitron, sans-serif;
  background: linear-gradient(
    158.4deg,
    rgb(209, 14, 209) 10.9%,
    rgb(16, 163, 218) 88.221%
  );
  color: transparent;
  background-clip: text;
  padding-bottom: 20px;
}
